@media (min-width: 1024px) {
    // Header Responsive
    header{
        height: 96px;
        h1{
            font-size: 34px;
        }
    }
    // Hero Title Responsive
    .hero{
        height: 280px;
        &-align{
            gap: 18px;
            width: 100%;
            background-color: #F6F6F6;
            @include flex-center;
            flex-direction: column;
        }
        &-title{
            font-size: 40px;
            margin: 0;
            margin-bottom: 15px;
            width: auto;
            font-weight: bold;
        }
        &-subtitle{
            margin: 0;
            width: auto;
            margin-bottom: 15px;
        }
        &-btn{
            margin-bottom: 15px;
        }
    }
    // Fonctionnement Responsive
    .tutorial{
        flex-direction: column;
        padding: 50px 180px 50px 180px;
        width: 75%;
        &-title{
            margin: 0px 0px 25px 0px;
            width: 100%;
            font-weight: bold;
            text-align: left;
        }
        &-align{
            @include flex-between;
            flex-direction: row;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            padding-bottom: 0px;
        }
    }
    // Restaurants Responsive
    .restaurant{
        @include flex-center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        padding: 50px 180px 50px 180px;
        &_title{
            width: 100%;
            margin-left: 35px
        }
        &-align{
            @include flex-around;
            flex-direction: row;
            flex-wrap: wrap;
            width: 1400px;
            padding-bottom: 0px;
        }
        &-card{
            width: 490px;
            margin-bottom: 0px;
            &_new{
                margin-top: 16px;
                margin-left: 394px;
            }
            &_img{
                width: 490px;
            }
            &_desc{
                &_heart{
                    margin-left: 440px;
                }
            }
        }
    }
    // Menu Responsive
    .menu{
        width: 100vw;
        max-width: 1055px;
        &-title{
            width: 350px;
        }
        &_img{
            height: 383px;
        }
        &-container_card{
            width: 634px;
            &_price{
                transform: translateX(59px);
            }
        }
        
    }
    // Footer Responsive
    footer{
        height: 114px;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: row-reverse;
        div{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
            gap: 7px;
        }
        h1{
            margin: 0;
            margin: 15px 25px 15px 100px;
        }
        h2{
            margin-bottom: 20px;
        }
    }
}