/* Base */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(/public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(/public/fonts/Shrikhand-Regular.ttf);
}
a {
  text-decoration: none;
  color: unset;
}

.fa-store {
  color: #9356DC;
}

.fa-list-ul, .fa-mobile-screen-button {
  color: #7E7E7E;
}

@keyframes bump {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
/* Components */
.tutorial-card {
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  width: 322px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.tutorial-card_num {
  position: absolute;
  margin-left: -324px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 24px;
}
.tutorial-card_title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.tutorial-card i {
  position: absolute;
  font-size: 18px;
  margin-left: -250px;
}

.restaurant-card {
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 340px;
}
.restaurant-card_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 8px;
  margin-left: 250px;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
}
.restaurant-card_img {
  width: 340px;
  height: 174px;
  object-fit: cover;
}
.restaurant-card_desc {
  margin-top: -5px;
  height: 76px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.restaurant-card_desc h2 {
  margin: 0;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
}
.restaurant-card_desc p {
  margin: 0;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 300;
}
.restaurant-card_desc_heart {
  position: absolute;
  margin-left: 290px;
  display: inline-block;
  user-select: none;
}
.restaurant-card_desc_heart input[type=checkbox] {
  display: none;
}
.restaurant-card_desc_heart label {
  cursor: pointer;
  font-size: 22px;
}
.restaurant-card_desc_heart label .fa-solid {
  display: none;
}
.restaurant-card_desc_heart label .fa-regular {
  display: unset;
}
.restaurant-card_desc_heart input[type=checkbox]:checked + label {
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  color: transparent;
  animation: bump 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.restaurant-card_desc_heart input[type=checkbox]:checked + label .fa-regular {
  display: none;
}
.restaurant-card_desc_heart input[type=checkbox]:checked + label .fa-solid {
  display: unset;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 0.5s ease;
}
.hero-btn:hover {
  filter: opacity(0.8);
}

/* Layout */
footer {
  height: 186px;
  width: 100%;
  color: white;
  background-color: #353535;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
footer i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  width: 13px;
  margin-right: 15px;
}
footer h1 {
  margin: 0;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0px 15px 25px;
}
footer h2 {
  font-size: 16px;
  margin: 5px 0px 5px 25px;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100vw;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header h1 {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 30px;
}

/* Pages */
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 335px;
}
.hero-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}
.hero-loc i {
  height: 16px;
}
.hero-loc input {
  width: 120px;
  text-align: center;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
}
.hero-loc input:focus {
  border: none;
}
.hero-align {
  height: 285px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 275px;
}
.hero-subtitle {
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  width: 315px;
}

.tutorial {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tutorial-title {
  font-size: 24px;
  margin: 0px 0px 35px 24px;
  width: 100%;
  font-weight: 700;
  text-align: left;
}
.tutorial-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 260px;
  padding-bottom: 50px;
}

.restaurant {
  padding-top: 50px;
  background: #F6F6F6;
}
.restaurant_title {
  font-size: 24px;
  margin: 0px 0px 35px 24px;
  width: 100%;
  font-weight: 700;
  text-align: left;
}
.restaurant-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  flex-direction: column;
  padding-bottom: 50px;
}

/* Responsive */
@media (min-width: 1024px) {
  header {
    height: 96px;
  }
  header h1 {
    font-size: 34px;
  }
  .hero {
    height: 335px;
  }
  .hero-align {
    height: 285px;
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    font-size: 40px;
    width: auto;
  }
  .hero-subtitle {
    width: auto;
  }
  .tutorial {
    flex-direction: column;
  }
  .tutorial-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 80%;
    flex-wrap: wrap;
  }
  .restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
  }
  .restaurant-card {
    width: 490px;
    margin-bottom: 30px;
  }
  .restaurant-card_new {
    margin-top: 16px;
    margin-left: 394px;
  }
  .restaurant-card_img {
    width: 490px;
  }
  .restaurant-card_desc_heart {
    margin-left: 440px;
  }
}

/*# sourceMappingURL=style.css.map */
