.hero-btn{
    @include flex-center;
    border-radius: 50px;
    width: 218px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: $color-cta;
    box-shadow: 0px 4px 10px 0px #00000040;
    transition: all 0.5s ease;
    &:hover{
        filter: opacity(0.85);
    }
}