// Application du scroll progressif
html{
    scroll-behavior: smooth;
}
// Mise en forme du corps de la page
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    @include flex-center;
    flex-direction: column;
}

main{
    max-width: 1440px;
    @include flex-center;
    flex-direction: column;
}