// Snippets de code

// Flex center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
// Flex between
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
// Flex around
@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

// Flex start
@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

// Transformation du texte
@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}