$color-highlight: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #008766;
$color-tertiary-bg: #99E2D0;
$color-background: #F3F3F3;
$color-heart: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$color-cta: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);